/* ---------Header------------- */
.header {
    color: azure;
    font-size: 45px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.header-title {
    margin-left: 20px;
    text-decoration: none;
}
/* --------------------------------------- */
/* -------------Toppage--------------- */
.toppage-width {
    width: 100%;
}
.toppage-title {
    font-family: 'Noto Serif JP', serif;
    color: azure;
    /* font-size: 2rem; */
    line-height: 1.2;
    text-align: center;
    font-size: 100px;
    padding-top: 190px;
}
/* トップページの文字グラデーション処理 */
.gradient-text1 {
    display: inline-block;/*これが無いとスマホで表示されない*/
    margin: 0;
    color: transparent;/*透明にして背景が見えるようにする*/
    -webkit-text-fill-color: transparent;
    background: url(/images/text1.png?5848fa99a574d6abef723d9b44f3d530); /*背景の指定*/
    -webkit-background-clip: text;/*テキストでマスク*/
    background-clip: text;/*テキストでマスク*/
    animation: bgAnim 20s alternate infinite ease-in-out;
    font-size: 100px;
    line-height: 1;
}
.gradient-text2 {
    display: inline-block;/*これが無いとスマホで表示されない*/
    margin: 0;
    color: transparent;/*透明にして背景が見えるようにする*/
    -webkit-text-fill-color: transparent;
    background: url(/images/text2.png?0f1e35b48e3d8b651375d45207746d9d); /*背景の指定*/
    -webkit-background-clip: text;/*テキストでマスク*/
    background-clip: text;/*テキストでマスク*/
    animation: bgAnim 20s alternate infinite ease-in-out;
    font-size: 100px;
    line-height: 1;
}
.gradient-text3 {
    display: inline-block;/*これが無いとスマホで表示されない*/
    margin: 0;
    color: transparent;/*透明にして背景が見えるようにする*/
    -webkit-text-fill-color: transparent;
    background: url(/images/text3.png?3887961917339391ca77b9d7eae70941); /*背景の指定*/
    -webkit-background-clip: text;/*テキストでマスク*/
    background-clip: text;/*テキストでマスク*/
    animation: bgAnim 20s alternate infinite ease-in-out;
    font-size: 100px;
    line-height: 1;
}

@keyframes bgAnim {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.toppage-backImage {
    background-image: url(/images/toppage_image00.jpg?6545cf3c1f7edc39d26960c32353ba24);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 870px;
}
.scroll-fade-in {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-out;
}
.toppage-drawingContent-button {
    position: fixed;
    top: 575px;
    left: 62px;
    z-index: 999;
}
.toppage-drawingContent-button-img {
    width: calc(240px * 1.25);
    height: calc(109px * 1.25);
}
.row-centered {
    justify-content: center;
}

.row-centered {
    justify-content: center;
}

.toppage-column {
    padding-top: 40px;
    color: #fff;
    row-gap: 20px;
}

.toppage-heightLine-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-right: 1px solid #fff;
    padding: 0 10px;
}

.card-custom {
    width: 300px;
}
.card-custom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-custom .btn-outline-light {
    width: 100%;
    height: 100%;
} 

.target {
    color: #fff;
}
/* ----------------------------------------------------- */
/* ---------------Drawing Content-------------------- */
.drawingContent-color {
    color: #fff;
    background-color: black;
    height: 100vh;
}
.drawingContent-margin {
    padding-top: 200px;
}
.drawingContent-startButton {
    margin-top: 10px;
}
.my-image {
    margin-top: 50px;
    max-width: 60%;
    max-height: 60%;
    height: auto;
    width: auto;
}
.drawingContent-finishButton {
    margin-top: 20px;
}
/* カード内のスタイル調整 */
.card {
    min-height: 200px; /* カードの高さを指定 */
}
.card-body {
    display: flex;
    flex-direction: column;
}
.form-select {
    margin-top: auto;
}
.card-text {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

/* スマホ対応 */
.img-responsive-container {
    width: 100%;
    overflow: hidden;
}

.img-responsive-container img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
}
/* ------------------------------------------ */
/* <a> white-text */
.custom-link {
    color: azure;
}
