/* |---------Header-------------|*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
    font-size: 45px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 9999;
}
.header-logoImg {
    height: 70px;
    width: 200px;
    margin-left: 10px;
}

/* ハンバーガーメニュー */
#humMenu {
    padding: 12px;
    background: #000;
}

#humCheck, #humClose { display:none; }
#humOpen {
    display: block;
    width: 58px;
    cursor: pointer;
}
#humOpen:hover {
    opacity: 0.5;
}
#humOpen img { display: block; }
#humClose, nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
}
#humClose {
    z-index: 2;
    width: 100%;
    background: gray;
    opacity: 0.8;
    transition: 0.5s;
}
nav {
    z-index: 3;
    width: 330px;
    background: white;
    transition: 0.5s;
    transform: translateX(100%);
}
#humCheck:checked ~ #humClose { display: block; }
#humCheck:checked ~ nav {
    transform: translateX(0);
}
nav ul{
    overflow: hidden;
    list-style: none;
}
nav li{
    padding: 15px 0;
    margin: 10px 0;
}
nav li:hover{
    opacity: 0.5;
}
nav li a{
    font-size: 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
/* |---------------------------------------| */

/*|-------------Toppage-----------------------------| */
.toppage-width {
    width: 100%;
}
/* トップタイトル */
.toppage-title {
    font-family: 'Noto Serif JP', serif;
    color: azure;
    /* font-size: 2rem; */
    line-height: 1.2;
    text-align: center;
    font-size: 100px;
    padding-top: 190px;
}
/* トップページタイトル文字のグラデーションアニメ処理 */
.gradient-text1 {
    display: inline-block;
    margin: 0;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: url('../../public/toppage_image/text1.png'); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: bgAnim 20s alternate infinite ease-in-out;
            animation: bgAnim 20s alternate infinite ease-in-out;
    font-size: 100px;
    line-height: 1;
}
.gradient-text2 {
    display: inline-block;
    margin: 0;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: url('../../public/toppage_image/text2.png');
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: bgAnim 20s alternate infinite ease-in-out;
            animation: bgAnim 20s alternate infinite ease-in-out;
    font-size: 100px;
    line-height: 1;
}
.gradient-text3 {
    display: inline-block;
    margin: 0;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background: url('../../public/toppage_image/text3.png');
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: bgAnim 20s alternate infinite ease-in-out;
            animation: bgAnim 20s alternate infinite ease-in-out;
    font-size: 100px;
    line-height: 1;
}
@-webkit-keyframes bgAnim {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
@keyframes bgAnim {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
/* 背景画像 */
.toppage-backImage {
    background-image: url(../../public/toppage_image/toppage_image00.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 870px;
}
/* ドローイングコンテンツボタン */
.scroll-fade-in {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-out;
}
.toppage-drawingContent-button {
    position: fixed;
    top: 575px;
    left: 62px;
    z-index: 9998;
}
.toppage-drawingContent-button-img {
    width: calc(240px * 1.25);
    height: calc(109px * 1.25);
}
/* トップカラム */
.row-centered {
    justify-content: center;
}
.toppage-column {
    padding-top: 40px;
    color: #fff;
    row-gap: 20px;
}
.toppage-heightLine-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-right: 1px solid #fff;
    padding: 0 10px;
}
.toppage-heightLine-parent-left {
    border-left: 1px solid #fff;
}
.card-custom {
    width: 300px;
}
.card-custom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-custom .btn-outline-light {
    width: 100%;
    height: 100%;
} 

.target {
    color: #fff;
}
/* ｜-----------------------------------------------------｜ */
/* |--------------Drawing lecture Page--------------------| */
.lecturepage-background {
    background-color: #fff;
    margin-top: 125px;
    height: 1150px;
}
.lecturepage-sub-title {
    font-size: 15px;
    text-align: center;
    color: blue;
    padding-top: 100px;
}
.lecturepage-title {
    padding-top: 15px;
    padding-bottom: 80px;
    text-align: center;
}
/* レクチャー画像 */
.lecturepage-img{
    width: 80%;
    height: auto;
}
/* カルーセル */
.lecturepage-carousel {
    background-color: #f4f4f4;
    border-top-left-radius: 10%; /* 上部左側の角を丸くする */
    border-top-right-radius: 10%; /* 上部右側の角を丸くする */
    height: 400px;
    padding: 30px;
    border-bottom: solid 2px #cccccc;
}
.lecturepage-carousel-title {
    padding-top: 5%;
}
.lecturepage-carousel-text {
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
/* レクチャー画像とカルーセルの高さを合わせる */
.lecturepage-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.lecturepage-content {
    flex-grow: 1;
}
/* 画像スライダー */
.image-slider {
    margin-top: 75px;
    margin-bottom: -30px;
}
@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
}
@keyframes infinity-scroll-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}
.image-slider__wrap {
    display: flex;
    overflow: hidden;
}
.image-slider__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.image-slider__list--left {
    animation: infinity-scroll-left 47.5s infinite linear 0.5s both;
}
.image-slider__list--right {
    animation: infinity-scroll-right 47.5s infinite linear 0.5s both;
}
.image-slider__item {
    width: calc(100vw / 6);
}
.image-slider__item > img {
    width: 100%;
    height: 120px; /*画像高さ調整*/
    object-fit: cover; /*アスペクト維持*/
}

/* |------------------------------------------------------| */
/* |-----------------------Illustration Lesson Page-------------------------------| */
.illustrationLessonPage-background {
    background-color: #f3f4f6;
    height: 1000px;
    
}
.illustrationLessonPage-padding {
    padding-top: 75px;
    text-align: center;
}
.illustrationLessonPage-title {
    padding-top: 15px;
    text-align: center;
}
.illustrationLessonPage-sub-title {
    font-size: 15px;
    text-align: center;
    color: #FF2965;
}
.illustrationLessonPage-content {
    margin-top: 80px;
}
.illustrationLessonPage-img {
    margin-bottom: -100px;
    height: 100%;
    width: 100%;
}
.illustrationLessonPage-column1 {
    color: #000;
    background-color: #fff;
    height: 450px;
    margin-bottom: 20px;
    border-radius: 35px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.illustrationLessonPage-column1-margin {
    margin-top: 5%;
    text-align: center;
}
.illustrationLessonPage-column1-img {
    object-fit: contain;
    width: 100%;
    height: calc(100% - 30px); /* 親要素の高さからマージン分を引いた高さに設定 */
}
.illustrationLessonPage-column1-margin_col {
    padding-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
}
.illustrationLessonPage-column1-icons4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    margin-left: 20px;
    font-size: large;
    padding-bottom: 100px;
}
.illustrationLessonPage-column-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.illustrationLessonPage-icon-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.illustrationLessonPage-content-text {
    font-size: 10px;
    color: #F50057;
}
/* Icon */
.material-symbols-outlined {
    font-size: 50px !important;
    margin-right: 10px;
}
/* |------------------------------------------------------| */
/* |---------------------------footer------------------------------| */
.footer {
    height: 500px;
    color: #fff;
    margin-top: 75px;
}
.footer-col-border {
    border-top: solid 10px blue;
    margin-right: 85%;
}
.footer-logo {
    max-width: 70%;
    height: auto;
}
/* Aタグ縦ならべ */
.footer-col a {
    display: block;
    margin-bottom: 10px;
}  
/* |---------------------------------------------------------| */
/* ｜---------------Drawing Content--------------------｜ */
/* コンテナのスタイル設定 */
.drawingContent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
 /* ボーダーのスタイル設定 */
.drawingContent-border {
    margin-top: 10%;
    position: relative;
    height: 60%;
    width: 95%;
    background-color: #f3f4f6;
    border-radius: 30px;
    padding: 30px;
  }
  
  /* 画像のスタイル設定 */
  .drawingContent-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
    height: 80%; /* 画像の高さを指定 */
    width: auto; /* 幅は自動でアスペクト比に基づいて設定されます */
  }
  
.drawingContent-color {
    color: #fff;
    background-color: black;
    height: 100vh;
}
.drawingContent-margin {
    padding-top: 20%;
}
.drawingContent-startButton {
    margin-top: 10px;
}
.drawingContent-finishButton {
    margin-top: 20px;
}
/* --カード内のスタイル調整-- */
.card {
    min-height: 200px; /* カードの高さを指定 */
}
.card-body {
    display: flex;
    flex-direction: column;
}
.form-select {
    margin-top: auto;
}
.card-text {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* --カードのスマホ対応-- */
.img-responsive-container {
    width: 100%;
    overflow: hidden;
}

.img-responsive-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
/* 画像表示中スタイル */
.drawingContent-contentStatus {
    margin-top: 100px;
    display: flex;
}
.drawingContent-countdown {
    flex: 1;
}
.drawingContent-skipButton {
    position: relative;
    z-index: 10000;
    flex: 1;
}
/* ダウンロードボタン */
.drawingContent-downloardBTN {
    margin-bottom: 10px;
}
/*｜ ------------------------------------------｜ */
/* |----------------クレジットページ------------------| */
.credit-container {
    max-width: 100%;
}
.creditpage {
    background-color: #fff;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 100px;
    padding: 5%;
}
.creditpage-listColor {
    color: #000;
}
.creditpage-urlReference {
    border-bottom: #cccccc solid 1px;
}
.creditpage-serviceReference {
    border-bottom: #cccccc solid 1px;
}
/* |----------------------------------| */
/*|----------- コンタクトページ----------| */
.contact-container {
    max-width: 100%;
}
.contactpage {
    background-color: #fff;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 110px;
    padding: 5%;
}
.contact-content {
    padding-top: 5%;
}
.contact-content-img {
    max-width: 100%;
    height: auto;
}
/* |----------------------------------| */
/* |-----イラストレッスンコンテンツ-----| */
/* |--------------------------------| */
/* |------------レスポンシブ-------------| */
/* スマホ向けのスタイル */
@media (max-width: 420px) {
    /* header */
    .header-logoImg {
        height: 55px;
    }
    /* toppage */
    .toppage-title {
        font-size: 39px;
        margin-left: 3%;
        margin-right: 3%;
    }
    .gradient-text1,
    .gradient-text2,
    .gradient-text3 {
        margin-left: 3%;
        margin-right: 3%;
        font-size: 39px;
    }
    .toppage-column {
        font-size: 10px;
    }
    .toppage-heightLine-parent {
        margin-bottom: -35px;
    }
    .card-custom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .card-custom a,
    .card-custom p {
        flex: 1;
        margin: 0 10px;
    }
    .card-custom a .btn{
        width: 100px;
    }
    .toppage-heightLine-parent{
        border-bottom: solid 1px #fff; 
        margin-bottom: -20px;
        border-right: none;
        padding-left: 5% !important;
    }
    .toppage-heightLine-parent-left {
        border-left: none;
    }
    .toppage-backImage {
        height: 750px;
    }
    .toppage-drawingContent-button {
        top: 80%;
        left: 2%;
    }
    .toppage-drawingContent-button-img {
        width: 240px;
        height: 109px;
    }
    /* Drawing-content lecturepage */
    .lecturepage-background {
        height: 1400px;
    }
    .lecturepage-sub-title {
        padding-top: 50px;
    }

    .image-slider__item {
        width: calc(100vw / 2);
    }
    /* IllustrationLessonPage */
    .illustrationLessonPage-column1 {
        height: 350px;
    }
    .illustrationLessonPage-column1-img {
        display: none;
    }
    /* footer */
    .footer {
        margin-bottom: 100px;
    }
    .footer-logo {
        max-width: 60%;
    }
    #footer-col-border-last {
        display: none;
    }
    .footer-col-border_mobile {
        border-top: solid 10px blue;
        margin-right: 93%;
    }
  }
/* スマホとタブレットの間 */
@media (max-width: 767px) and (min-width: 421px) {
    /* header */
    .header-logoImg {
        height: 55px;
    }
    /* toppage */
    .toppage-title {
        font-size: 60px;
        margin-left: 3%;
        margin-right: 3%;
    }
    .gradient-text1,
    .gradient-text2,
    .gradient-text3 {
        margin-left: 3%;
        margin-right: 3%;
        font-size: 60px;
    }
    .toppage-column {
        font-size: 10px;
    }
    .toppage-heightLine-parent {
        margin-bottom: -35px;
    }
    .card-custom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .card-custom a,
    .card-custom p {
        flex: 1;
        margin: 0 10px;
    }
    .card-custom a .btn{
        width: 100px;
    }
    .toppage-heightLine-parent{
        border-bottom: solid 1px #fff; 
        margin-bottom: -20px;
        border-right: none;
        padding-left: 5% !important;
    }
    .toppage-heightLine-parent-left {
        border-left: none;
    }
    .toppage-backImage {
        height: 750px;
    }
    .toppage-drawingContent-button {
        top: 80%;
        left: 2%;
    }
    .toppage-drawingContent-button-img {
        width: 240px;
        height: 109px;
    }
    /* Drawing-content lecturepage */
    .lecturepage-background {
        height: 1400px;
    }
    .lecturepage-sub-title {
        padding-top: 50px;
    }
    .image-slider__item {
        width: calc(100vw / 4);
    }
    /* IllustrationLessonPage */
    .illustrationLessonPage-background {
        height: 1100px;
    }
    .illustrationLessonPage-column1 {
        height: 380px;
    }
    .illustrationLessonPage-column1-img {
        display: none;
    }
    .illustrationLessonPage-column-flex {
        margin-left: 10%;
        margin-right: 10%;
    }
    /* footer */
    .footer {
        margin-bottom: 100px;
    }
    .footer-logo {
        max-width: 60%;
    }
}
/* タブレット向け */
@media (max-width: 1024px) and (min-width: 768px) {
    /* toppage */
    .toppage-backImage {
        height: 750px;
    }
    .toppage-title {
        font-size: 84px;
    }
    .toppage-drawingContent-button {
        top: 530px;
        left: 2%;
    }
    /* drawing lecture page  */
    .image-slider__item {
        width: calc(100vh / 4);
    }
    .lecturepage-img {
        width: 380px;
        height: auto;
        padding-right: 10px;
    }
    /* illustrationLessonPage */
    .illustrationLessonPage-background {
        height: 770px;
    }
    .illustrationLessonPage-column1-img {
        display: none;
    }
    .illustrationLessonPage-column1 {
        height: 410px;
    }
}
/* タブレットとPCモニターの間 */
@media (max-width: 1199px) and (min-width: 1025px) {
    /* illustrationLessonPage */
    .illustrationLessonPage-background {
        height: 800px;
    }
    .illustrationLessonPage-column1-img {
        display: none;
    }
    .illustrationLessonPage-column-flex {
        margin-left: 10%;
        margin-right: 10%;
    }
    .illustrationLessonPage-column1-margin {
        margin-top: 75px;
    }
}
/* PCモニター１９２０対策 */
@media (min-width: 1646px) {
    /* 背景画像 */
    .toppage-backImage {
        margin-top: 100px;/*１９２０モニターだとヘッダーが被るのを回避*/
    }
}
/* |-------------------------------------| */
